# Created by venv; see https://docs.python.org/3/library/venv.html
# Python bytecode
*.pyc
*.pyo
__pycache__/

# Environment variables
.env

# Django migration files
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db

# Media and static files
/static/
/media/

# Virtual environment
venv/
.env/
env/

